section {
    background: var(--gradient);
    padding-block-end: 1rem;
    border-radius: 1rem;
}
section > canvas {
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

section > p {
    text-align: center;
}