section {
    background-color: var(--card);
    padding-block-end: 1rem;
    border-radius: 1rem;
    z-index: 1;
    margin: 3rem;
    height: min-content;
    width: min-content;
    position: relative;
    
}
.canvas-container {
    position: relative;
    padding: 1rem;
    z-index: 2;
    top: -2rem;
    margin-inline: 1rem;
    height: 170px;
    width: 267px;
    border-radius: 1rem;
    background-color: white;
}

article  {
    margin-top: -1rem;
    padding: 1rem;
    max-width: 327px;
}
article > * {
    margin: 0px;
}

article > p {
    color: grey;
}