<!DOCTYPE html>

<html class="w-mod-js">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <style>
            .wf-force-outline-none[tabindex="-1"]:focus {
                outline: none;
            }
        </style>
        <meta charset="utf-8" />
        <title>Console</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="static/console.css" rel="stylesheet"/>
        <link href="https://uploads-ssl.webflow.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="https://uploads-ssl.webflow.com/img/webclip.png" rel="apple-touch-icon" />
    </head>
    <body>
        <div data-wf-quick-add-section="nav" class="section wf-section">
            <div class="w-container"><h3 class="heading">Home</h3></div>
        </div>
        <div data-wf-quick-add-section="body" class="wf-section">
            <div class="container w-container"><h1 class="heading-2">Console</h1></div>
        </div>
        <div class="container-2 w-container">
            <p class="paragraph">
                $ /home/pi/<br />
                &nbsp;&nbsp;$ /home/pi/<br />
                &nbsp;&nbsp;$ /home/pi/<br />
                &nbsp;&nbsp;$ /home/pi/<br />
                &nbsp;&nbsp;$ /home/pi/<br />
                &nbsp;&nbsp;$ /home/pi/
            </p>
        </div>
        <div class="w-container">
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-3" aria-label="Email Form">
                    <input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="$ enter a command" id="field" value="eee" />
                    <input type="submit" value="Enter" data-wait="" class="submit-button w-button" />
                </form>
            </div>
        </div>
        <div data-wf-quick-add-section="footer" class="wf-section"></div>
    </body>
</html>
