<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Console</title>
          
      <!-- Material icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <link rel="stylesheet" href="static/style.css">
   </head>
   <body>
       <div class="container">
            <main>
                <h1>Console</h1>
                <div class="view">
                    <>
                </div>
            </main>
        </div>
   </body>
<script>
//    document.getElementById("txtbtn").onclick = async () => {
//     var cmd = document.getElementById("mbx").value;
//     output = await fetch("/execute?cmd=" + cmd, {
//        method: "GET"
//     });
//     document.getElementById("output").innerHTML = (await output.json()).message
//  };
</script>