<!DOCTYPE html>
<html lang="en">

<head>
    <link href="static/console.css" rel="stylesheet" />
</head>
<body id="particles-js">
    <div class='console'>
      <div class='console-inner'>
        <div id="outputs">
        </div>
        <div class='output-cmd'><textarea autofocus class='console-input' placeholder="Type command..."></textarea></div>
      </div>
    </div>
</body>
<script src="assets/js/particlesjs/particles.js"></script>
<script src="assets/js/autosize/src/autosize.js"></script>
<script src="assets/js/console.js"></script>
</html>