
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form id="frm">
        <input id="inp" type="text">
        <button type="submit">Submit</button>
    </form>
    <script>
        document.getElementById("frm").onsubmit = async (e) => {
            e.preventDefault();
            const result =  await fetch("/explicit", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    Accept: 'application/json'
                },
                body: JSON.stringify({
                    password: document.getElementById("inp").value
                })
            });
            const obj = await result.json();
            if (obj.message === "s") {
                window.location.href = "/protocols"
            }
        }
    </script>
</body>
</html>