<!DOCTYPE html>

<html class="w-mod-js wf-exo-n1-active wf-exo-i1-active wf-exo-n2-active wf-exo-i2-active wf-exo-n3-active wf-exo-i3-active wf-exo-n4-active wf-exo-i4-active wf-exo-n5-active wf-exo-i5-active wf-exo-n6-active wf-exo-i6-active wf-exo-n7-active wf-exo-i7-active wf-exo-n8-active wf-exo-i8-active wf-exo-n9-active wf-exo-i9-active wf-active">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <style>
            .wf-force-outline-none[tabindex="-1"]:focus {
                outline: none;
            }
        </style>
        <meta charset="utf-8" />
        <title>Raspberry-Dashboard</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="static/index.css"/>
        <script type="text/javascript">
            WebFont.load({ google: { families: ["Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"] } });
        </script>
    </head>
    <body>
        <div data-wf-quick-add-section="nav" class="section wf-section">
            <div class="container w-container"><h3 class="heading-2"><a class="nav-link" href="console">Console</a></h3></div>
        </div>
        <div data-wf-quick-add-section="body" class="wf-section">
            <div class="container-2 w-container"><h1 class="heading-3">rasp.π</h1></div>
        </div>
        <div data-wf-quick-add-section="footer" class="wf-section"></div>
    </body>
</html>
