<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="static/style.css">
</head>
<body>
   
   <button id="btn">
      Reboot
   </button>

   <div>
      <h3>
         CPU status
      </h3>
      <table>
         <tr>
            <th>Brand</th>
            <td><%- JSON.stringify(brand) %></td>
         </tr>
      </table>
   </div>

   <div>
      <h3>
         Network status
      </h3>
   </div>

   <div>
      <h3>
         Operating system
      </h3>
   </div>

   <script>
      document.getElementById("btn").onclick = async () => {
         await fetch("/reboot", {
            method: "HEAD"
         });
      }
   </script>
</body>
</html>