<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Admin • Ropra</title>
          
      <!-- Material icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <link rel="stylesheet" href="static/style.css">
</head>  
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <h2>
                        Rasp<span class="danger">.π</span>
                    </h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Customers</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Analytics</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Orders</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Ips Recorded</h3>
                </a>

                </a>
                <a href="#">
                    <span class="material-icons-sharp">add</span>
                    <h3>Add Cookies</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">report_gmailerrorred</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-outlined">restart_alt</span>
                    <h3 id="reboot">Reboot</h3>
                </a>
            </div>
        </aside>
        <!--------------------------------- END OF ASIDE ------------------------------>
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>
            
            <div class="insights">
                <div class="ip">
                    <span class="material-icons-outlined">router</span>
                    <div class="middle">
                        <div class="left">
                            <h3>IPs Relayed</h3>
                            <h1>2</h1>
                            <h1 id ="iprelay"> <%- JSON.stringify(network.ip4) %> </h1>
                            <h1 id="iprelay"> <%- JSON.stringify(network.ip6) %> </h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                        </div>
                    </div>
                    <small class="text-muted">Your IPs Relayed</small>
                </div>
                <!------------ END OF IP ------------->
                <div class="cookies">
                    <span class="material-icons-outlined">cookie</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Cookies Logged</h3>
                            <h1>253</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>93%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!------------ END OF COOKIES ------------->
                <div class="MacAdress">
                    <span class="material-icons-outlined">security</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Mac Adresses Logged</h3>
                            <h1>193</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!------------ END OF MacAdress ------------->
            </div>

         <textarea id="mbx">
         
         </textarea>
         <button id="txtbtn">
            submit
         </button>
         <button id="btn">
            reboot
         </button>
         
        </main>
    </div>
</body>
   <script>
      document.getElementById("btn").onclick = async () => {
         await fetch("/reboot", {
            method: "HEAD"
         });
      };
      document.getElementById("txtbtn").onclick = async () => {
         var cmd = document.getElementById("mbx").value;
         output = await fetch("/execute?cmd=" + cmd, {
            method: "HEAD"
         });
         console.log(output)
      };
   </script>

</html>

<!-- <%- JSON.stringify(cpu.temp) %> --> 

<!-- <%- JSON.stringify(cpu.temp) %> -->

<<!-- -->