<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>
          
      <!-- Material icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
      <!-- StyleSheet -->
      <link rel="stylesheet" href="static/style.css">
</head>  
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <h2>
                    Rasp<span class="danger">.∏</span>
                </h2>
            <div class="search-bar">
                <span class="material-icon-sharp">search</span>
            </div>
        </div>
    </nav>
</body>

   <script>
       document.documentElement.style.setProperty('--cpuTemp', JSON.stringify(cpu.temp));
       
      document.getElementById("btn").onclick = async () => {
         await fetch("/reboot", {
            method: "HEAD"
         });
      };
   </script>
</html>

<!-- <%- JSON.stringify(cpu.temp) %> --> 

<!-- <%- JSON.stringify(cpu.temp) %> -->

<<!-- -->