<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="static/style.css">
</head>
<body>
   
   <div>
      <h3>
         CPU Status
      </h3>
      <h5>
         Brand <%- JSON.stringify(brand) %>
      </h5>
   </div>

   <div>
      <h3>
         Network status
      </h3>
   </div>

   <div>
      <h3>
         Operating system
      </h3>
   </div>

</body>
</html>