@import "material-dashboard/bootstrap/functions";

// Custom Variables
@import "material-dashboard/custom/variables";

// Theme Variables
@import "material-dashboard/variables";

// Bootstrap Core
@import "material-dashboard/bootstrap/bootstrap";

// Theme Core
@import "material-dashboard/theme";

// Custom Variables
@import "material-dashboard/custom/styles";
