nav {
  background: var(--gradient);
  min-width: 250px;
  border-radius: 1rem;
  max-height: 100vh;
  transform: translateX(0%);
  transition: transform ease-out 0.3s;
}

nav.is_hidden {
  transform: translateX(-200%);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1rem;
  color: var(--text_primary);
  align-items: center;
  border-bottom: 1px solid #ffffff94;
}

header > .close {
  margin-left: auto;
  margin-bottom: auto;
  border-bottom: none;
}

header > img {
  min-width: 3rem;
  max-height: 3rem;
  border-radius: 0.5rem;
  content: var(--logo);
  padding-right: 0.5rem;
}

content {
  display: block;
  max-height: 80vh;
  overflow-y: scroll;
}

section {
  color: var(--text_primary);
  padding: 1rem;
}

section > ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
}

li > a {

  padding-block: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

li :hover {
  background-color: var(--hover);
}

li > a.active {
  background: var(--accent-gradient);
}

li :first-child {
  padding-inline: 0.5rem;
}
