html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
   
  body{
    font-family: 'Roboto','Helvetica Neue', 'Lucida Grande', sans-serif;
  }
   
  body, h1,h2,h3, p{
      margin:0;
      padding:0;
  }
   
  .mainCont{
    padding-top: 100px;
    width:1000px;
    margin: 0 auto;
  }
   
  .mainCont h2{
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-size: 48px;
      margin: 60px 0 0 0;
      color: white;
    opacity: 1;
  }
  
  .mainCont .editorCont #editorResultsCont #editor {
    width: 100%;
    height: 90%;
    font-size: 150%;
    font-family:'Roboto Mono', monospace;
    background: #000000;
    border: none;
    color: white;
    resize: none;
    text-indent: 2%;
    padding-top: 2%;
  }

  .mainCont .editorCont #editorResultsCont #editor:focus {
    outline: 0;
  }
  
  .mainCont .editorCont #editorResultsCont #saveButton {
    appearance: none;
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .mainCont .editorCont #editorResultsCont #saveButton:disabled {
    pointer-events: none;
  }
  
  .mainCont .editorCont #editorResultsCont #saveButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .mainCont .editorCont #editorResultsCont #saveButton:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .mainCont h3{
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      color: rgba(255,255,255,0.75);
    margin: 0 0 60px 0;
    opacity: 1;
  }
   
  .editorCont{
      background: black;
      width: 100%;
      border-radius: 4px;
    padding:12px 0 0 0;
    margin-top: -20px;
    font-family: 'Roboto Mono', monospace;
    opacity: 1;
  }
   
  .userEnteredText{
    color: rgba(255,255,255,0.5);
    margin: 0;
    padding: 0;
    display: inline-block;
  }
   
  #editorResultsCont{
      width:100%;
      height: 600px;
      padding: 12px;
      overflow-y: auto;
      resize: none;
      border: none;
      font-size: 14px;
    line-height: 28px;
      display: block;
      color: rgba(255,255,255,0.9);
  }
   
   
  #editorResultsCont a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
  }
   
  #editorResultsCont a:hover{
    text-decoration: underline;
  }
   
  #editorTextInput{
      background: black;
      display: block;
      border: none;
      border-top: 1px solid rgba(255,255,255,0.2);
      border-radius: 0 0 4px 4px;
      width: 100%;
      color: white;
      padding: 18px;
      font-size: 14px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
  }
  
  @media screen and (max-width: 1000px){
    .mainCont{
      margin-top: 50px;
      width: 100%;
      padding: 0 12px;
    }
    .mainCont h2{
      font-size: 32px;
      margin: 40px 0 0 0;
    }
    .mainCont h3{
      font-size: 16px;
      margin: 0 0 40px 0;
    }
    #editorResultsCont{
      height: 300px;
    }
  
  }