/* ROOT CSS VARIABLES */
:root {
--color-white: #ffffff;
--color-light: #f0eff5;
--color-gray-light: #86848c;
--color-gray-dark: #56555e;
--color-dark: #27282f;

--color-primary: rgb(71, 7, 234);
--color-success: rgb(34, 202, 75);
--color-danger: rgb(255, 67, 54);
--color-warning: rgb(234, 181, 7);
--color-purple: rgb(160, 99, 245);

--color-primary-light: rgba(71, 1, 234, 0.2);
--color-success-light: rgba(34, 202, 75, 0.2);
--color-danger-light: rgba(255, 67.54, 0.2);
--color-purple-light: rgba(160, 99, 245, 0.2);
--card-padding:1.6rem;
--padding-1: 1rem;
--padding-2: 8px;

--card-border-radius: 1.6rem;
--border-radius-1: 1rem;
--border-radius-2: 6px;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background: var(--color-light);
    font-family: poppins, sans-serif;
    min-height: 100vh;
    color: var(--color-dark);
}

h1 {
    font-size: 2.2rem;
}

h2{
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
}

h6 {
    font-size: 7.6rem;
}

p {
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-primary);
}
.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger)
}