:root {
    /** colors **/

    --bg_color: #f0f2f5;
    --gradient: linear-gradient(195deg, #ffffff, #dfdfdf);
    --text_color: #000;
    --text_primary: #5e6d86;
    --hover: #c7c7c733;
    --card: #fff;
    --accent-gradient: linear-gradient(195deg, #ec407a 0%, #d81b60 100%);
    --accent-green: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
    --accent-grey: linear-gradient(195deg, #323a54, #1a2035);
    --accent-blue: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);

    /** images / links **/

    --logo: url("/assets/logo-ct.jpg");

    /** other settings **/
    
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: var(--text_color);
}

html, body {
    overflow: hidden;
    margin: 0px;
}

button {
    background: inherit;
    border: inherit;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    
   :root {
        /** colors in dark mode **/
        --bg_color: #1a2035; 
        --gradient: linear-gradient(195deg, #323a54, #1a2035);
        --text_color: #fff;
        --text_primary: #d7d7d8;
        --card: #202940;

        /** images / links in dark mode **/

        --logo: url("/assets/logo-ct-dark.jpg");
    }
}