.card-container {
    max-width: 15rem;
    max-height: 10rem;
    border-radius: 4rem;
}

.header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: right;
    border-bottom-style: groove;
    border-bottom-color: #40485c;
}

figure {
    top: -2rem;
    width: 64px;
    height: 64px;
}

